*{
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  padding: 1rem;
}
h2{
  margin: 8px;
}
p{
  margin: 5px;
}

.search-box{
  display: flex;
  justify-content: space-between;
  align-items:center;
  border-radius: 30px;
  border: 1px solid black;
  padding-right: 10px;
  width: 360px;
  height: 40px;
  margin: 15px;
}

.input-field{
border: none;
background-color: transparent;
padding: 0;
margin: 0;
padding-left: 10px;
outline: none;
width: 30%;
}


.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.user-card {
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 16px;
  margin: 10px;
  width: 200px;
  text-align: center;
  color:black;
}
.user-card img {
  width: 180px;
  height: 180px;
  border-radius: 100px;
}
.user-card.black-hair {
  color: white;
}

.user-card.other-hair {
  color: black;
}
.card-text{
  margin-top: 0;
  margin-bottom: 0 !important;
}
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 8px;
  margin: 0 5px;
}
.pagination span {
  cursor: pointer;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  border-radius: 75%;
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination span:hover {
  background-color: green;
  color: #fff;
}

.pagination-icons{
  cursor: pointer;
}


@media screen and (max-width: 560px) {
  .search-box{
    width: 300px;
  }
}
@media screen and (max-width: 420px) {
  .search-box{
    width: 260px;
  }
}